@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&family=Caveat:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap");

// Theme colors.
$background: #0b1113;
$accent: #608ea4;
$primary: #719aad;
$secondary: #11191d;
$text: #fcfdfd;

// Theme fonts.
$header: "Inter", sans-serif;
$paragraph: "Akatab", sans-serif;
$nav: "Caveat", cursive;
